body {
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0;
	margin: 0;
	line-height: 0;
}

mines-cell {
	width: 32px;
	height: 32px;
	font-size: 24px;
	display: inline-block;
	transition: all 200ms;
	line-height: 1.25em;
}

mines-cell:not(.revealed):hover {
	background-color: #ddd;
}

mines-grid {
	user-select: none;
}

mines-cell:not(.revealed) {
	background: #eee;
	box-shadow: #888 0 0 5px inset;
}

mines-cell.revealed.knownMine::after {
	content: '💥' !important;
}
mines-cell.revealed {
	background: green;
	text-align: center;
}
mines-cell.revealed::after {
	width: 100%;
}
mines-cell.revealed[number="0"]::after {
	content: '0';
	opacity: 0;
}
mines-cell.revealed[number="1"]::after {
	content: '1';
}
mines-cell.revealed[number="2"]::after {
	content: '2';
}
mines-cell.revealed[number="3"]::after {
	content: '3';
}
mines-cell.revealed[number="4"]::after {
	content: '4';
}
mines-cell.revealed[number="5"]::after {
	content: '5';
}
mines-cell.revealed[number="6"]::after {
	content: '6';
}
mines-cell.revealed[number="7"]::after {
	content: '7';
}
mines-cell.revealed[number="8"]::after {
	content: '8';
}

mines-cell:not(.revealed).flagged::after {
	content: '🚩';
}

.gameOver mines-cell.knownMine::after {
	content: '💀';
}

.gameOver mines-cell.flagged.knownMine::after {
	content: '🏴‍☠️';
}

/* some cheating now: */
.cheat mines-cell.knownMine {
	background-color: red !important;
}
.cheat mines-cell.knownSafe {
	background-color: green !important;
}
/* cheating over */

#gameOverReason {
	white-space: pre-wrap;
	font-family: Consolas, Monaco, 'Ubuntu Mono', monospace;
}
